* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}
:root {
  --primer-color: #49c8d3;
  --segundo-color: #37b6c1;
  --tercer-color: #25a4af;
  --cuarto-color: #12919c;
  --quinto-color: #007f8a;
  --azul-oscuro: #0f0f15;
  --color-rojo: #dc1b04;
  --blanco: #fff;
  --rosado: rgb(216, 2, 134);
  --fondo-azul: #162944;
  --gris-claro: #f0f0f0;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.contenedor-pagina-inicio-sesion {
  margin: 20px 0;
}

.contenedor-pagina-inicio-sesion h1 {
  text-align: center;
  font-size: 30px;
}
